body {
    background-image: url("./assets/desktop/bg-image-daytime.jpg");
    background-position: top 20% center;
    background-repeat: no-repeat;
    font-family: 'Inter', sans-serif;
}
.hide {
    position: absolute;
    top: -9999px !important;
    left: -999px !important;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.4);
}
main {
    position: relative;
    color: #fff;
    z-index: 1;
    display: grid;
    grid-template-rows: auto 352px auto;
    margin: 0 26px;
}
/* QOUTE SECTION STYLING */
.qoute {
    display: flex;
    flex-direction: column;
    position: relative;
}
.qoute p {
    font-size: 12px;
    line-height: 22px;
    width: 290px;
}
.qoute span {
    font-size: 12px;
    font-weight: bold;
    line-height: 22px;
}
.qoute svg {
    position: absolute;
    top: 12px;
    right: 0px;
    padding-left: 16.7px;
}
/* CLOCK SECTION STYLING */
.clock {
    display: flex;
    flex-direction: column;
    align-self: end;
}
.clock div {
    display: flex;
    align-items: center;
}
.clock div img {
    padding-right: 16.4px;
}
.clock div p {
    font-size: 15px;
    text-transform: uppercase;
    line-height: 25px;
    letter-spacing: 2px;
    margin: 0;
    flex-grow: 2;
    /* align-self: flex-start; */
}
.current-time {
    font-size: 100px;
    font-weight: bold;
    letter-spacing: -2.5px;
    line-height: 100px;
    margin: 0;
}
.current-time .timezone {
    font-size: 15px;
    font-weight: lighter;
    line-height: 28px;
    letter-spacing: 0;
}
.location {
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 28px;
    text-transform: uppercase;
    margin-top: 12px;
    margin-bottom: 60px;
}
/* BUTTON STYLING */
button {
    border-radius: 28px;
    border: none;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 17px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color: rgba(0,0,0, 0.5);
    letter-spacing: 3px;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
}
button span {
    padding-left: 15px;
    /* padding-right: 4px; */
}
/* INFORMATION SECTION STYLING */
.information {
    position: absolute;
    z-index: 1;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.90);
    display: grid;
    grid-template-rows: repeat(4, 1fr);
}
.information div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    margin: 0 26px;
}
.information div p:nth-child(1) {
    font-size: 10px;
    letter-spacing: 2px;
    line-height: 28px;
}
.information div p:nth-child(2) {
    font-size: 20px;
    font-weight: bold;
    line-height: 24px;
}
/* ARROW ANIMATION */
.arrowRotate {
    transform: rotate(180deg);
    transition-property: transform;
    /* transition-duration: 0.2s; */
    transition-timing-function: ease-in-out;
}